<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <property name="logFileName" value="application" />

    <!-- ローカル環境用設定 -->
    <springProfile name="local">
        <property name="logFilePath" value="./" />
    </springProfile>

    <!-- 本番環境用設定 -->
    <springProfile name="prod">
        <property name="logFilePath" value="/var/log/production/" />
    </springProfile>

    <!-- コンソール出力設定（フォーマットとか） -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- アプリケーションログのファイル書き出し -->
    <appender name="APPLIATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--ファイル名 -->
        <file>${logFilePath}${logFileName}.log</file>

        <!-- ログのローテーション設定 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<!-- ログローテされるファイルの命名規則 -->
            <fileNamePattern>${logFilePath}${logFileName}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- 何日間保持するか -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- アプリケーションエラーログのファイル書き出し -->
    <appender name="APPLIATION_ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--ファイル名 -->
        <file>${logFilePath}${logFileName}_error.log</file>

        <!-- ログのローテーション設定 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<!-- ログローテされるファイルの命名規則 -->
            <fileNamePattern>${logFilePath}${logFileName}_error-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- 何日間保持するか -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <!-- フィルタリングの設定 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--rootログレベルと使用出力ルール -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLIATION_LOG" />
        <appender-ref ref="APPLIATION_ERROR_LOG" />
    </root>
</configuration>