<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<title th:text="${title}">ユーザ登録更新確認</title>
</head>
<body>
	<div th:replace="layout :: header"></div>
	<div class="container">
		<h2 th:text="${title}">ユーザ登録更新確認</h2>
		<hr>
		<h5 th:if="*{id}">以下の内容で更新します。よろしいですか？</h5>
		<h5 th:unless="*{id}">以下の内容で登録します。よろしいですか？</h5>
		<form id="editItems" th:action="@{${userForEdit.id} == null ? '/user/insert' : '/user/update'}" th:object="${userForEdit}" th:method="post">
		 	<input type="hidden" th:field="*{id}">
		 	<input type="hidden" th:field="*{lastNameKana}">
		 	<input type="hidden" th:field="*{firstNameKana}">
		 	<input type="hidden" th:field="*{lastName}">
		 	<input type="hidden" th:field="*{firstName}">
		 	<input type="hidden" th:field="*{gender}">
		 	<input type="hidden" th:field="*{birthday}">
		 	<input type="hidden" th:field="*{postalCode}">
		 	<input type="hidden" th:field="*{prefecture}">
		 	<input type="hidden" th:field="*{address1}">
		 	<input type="hidden" th:field="*{address2}">
		 	<input type="hidden" th:field="*{address3}">
		 	<input type="hidden" th:field="*{address4}">
		 	<input type="hidden" th:field="*{phoneNumber}">
		 	<input type="hidden" th:field="*{remarks}">
		 	<input type="hidden" th:field="*{insertUser}">
		 	<input type="hidden" th:field="*{updateUser}">

			<table class="table table-borderd">
				<tr th:if="*{id}">
					<th class="table-secondary">ID</th>
					<td th:text="*{id}"></td>
				</tr>
				<tr>
					<th class="table-secondary">姓名カナ</th>
					<td th:text="*{lastNameKana} + ' ' + *{firstNameKana}"></td>
				</tr>
				<tr>
					<th class="table-secondary">姓名</th>
					<td th:text="*{lastName} + ' ' + *{firstName}"></td>
				</tr>
				<tr>
					<th class="table-secondary">性別</th>
					<td th:text="*{gender == '0'} ? '男性' : '女性'"></td>
				</tr>
				<tr>
					<th class="table-secondary">誕生日</th>
					<td th:text="*{birthday}"></td>
				</tr>
				<tr>
					<th class="table-secondary">郵便番号</th>
					<td th:text="*{postalCode}"></td>
				</tr>
				<tr>
					<th class="table-secondary">都道府県</th>
					<td th:text="*{prefecture}"></td>
				</tr>
				<tr>
					<th class="table-secondary">市区町村</th>
					<td th:text="*{address1}"></td>
				</tr>
				<tr>
					<th class="table-secondary">町名</th>
					<td th:text="*{address2}"></td>
				</tr>
				<tr>
					<th class="table-secondary">番地</th>
					<td th:text="*{address3}"></td>
				</tr>
				<tr>
					<th class="table-secondary">建物名・部屋番号</th>
					<td th:text="*{address4}"></td>
				</tr>
				<tr>
					<th class="table-secondary">電話番号</th>
					<td th:text="*{phoneNumber}"></td>
				</tr>
				<tr>
					<th class="table-secondary">備考</th>
					<td th:text="*{remarks}"></td>
				</tr>
				<tr th:unless="*{id}">
					<th class="table-secondary">登録者</th>
					<td th:text="*{insertUser}"></td>
				</tr>
				<tr th:if="*{id}">
					<th class="table-secondary">更新者</th>
					<td th:text="*{updateUser}"></td>
				</tr>
			</table>
			<div>
				<a th:if="*{id}" role="button" class="btn btn-secondary btn-sm" href="#"
					th:onClick="'formSubmit(' + '\'/user/edit/' + ${userForEdit.id} + '\')'">キャンセル</a>
				<a th:unless="*{id}" role="button" class="btn btn-secondary btn-sm" href="#"
					th:onClick="formSubmit('/user/new')">キャンセル</a>
				<input type="submit"
                    th:value="*{id} == null ? '登録' : '更新'" class="btn btn-primary btn-sm">
			</div>
		</form>
	</div>
	<div th:replace="layout :: footer"></div>
	<script>
		// 引数で指定されたパスでサブミットする
		function formSubmit(path) {
			let form = document.getElementById('editItems');
			if (!form) {
				alert('フォームが取得できませんでした');
				return;
			}
			form.action = path;
			form.method = "post";
			form.submit();
		};
	</script>
</body>
</html>