<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<title>ユーザ詳細</title>
</head>
<body>
	<div th:replace="layout :: header"></div>
	<div class="container">
		<h2>ユーザ詳細</h2>
		<hr>
		<!-- アラート表示部分 -->
		<div th:if="${exception}">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<div th:text="${exception}"></div>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<table th:object="${userDetail}" class="table table-borderd">
			<tr>
				<th class="table-secondary">ID</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th class="table-secondary">姓名カナ</th>
				<td th:text="*{lastNameKana} + ' ' + *{firstNameKana}"></td>
			</tr>
			<tr>
				<th class="table-secondary">姓名</th>
				<td th:text="*{lastName} + ' ' + *{firstName}"></td>
			</tr>
			<tr>
				<th class="table-secondary">性別</th>
				<td th:text="*{gender}"></td>
			</tr>
			<tr>
				<th class="table-secondary">誕生日</th>
				<td th:text="*{birthday}"></td>
			</tr>
			<tr>
				<th class="table-secondary">郵便番号</th>
				<td th:text="*{postalCode}"></td>
			</tr>
			<tr>
				<th class="table-secondary">住所</th>
				<td th:text="*{address}"></td>
			</tr>
			<tr>
				<th class="table-secondary">電話番号</th>
				<td th:text="*{phoneNumber}"></td>
			</tr>
            <tr>
                <th class="table-secondary">備考</th>
                <td th:text="*{remarks}"></td>
            </tr>
			<tr>
				<th class="table-secondary">登録者</th>
				<td th:text="*{insertUser}"></td>
			</tr>
			<tr>
				<th class="table-secondary">登録日時</th>
				<td th:text="*{insertDate}"></td>
			</tr>
			<tr>
				<th class="table-secondary">更新者</th>
				<td th:text="*{updateUser}"></td>
			</tr>
			<tr>
				<th class="table-secondary">更新日時</th>
				<td th:text="*{updateDate}"></td>
			</tr>
			<tr>
				<th class="table-secondary">削除フラグ</th>
				<td th:text="*{deleteFlg}"></td>
			</tr>
		</table>
		<div>
			<hr>
			<ul class="nav nav-pills">
				<li class="nav-item mr-auto">
					<a role="button" class="btn btn-primary btn-sm"
						th:href="@{/user/edit/{id}(id=*{id})}">編集</a>
					<a role="button"
						class="btn btn-secondary btn-sm" href="/user/list/1">一覧に戻る</a>
				</li>
				<li class="nav-item">
					<button type="button" class="btn btn-danger btn-sm"
						data-toggle="modal" data-target="#exampleModal">削除</button>
				</li>
			</ul>

			<!-- ユーザ削除時のモーダル部分 -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">以下のユーザを削除します。よろしいですか？</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table th:object="${userDetail}" class="table">
								<tr>
									<th class="table-secondary">ID</th>
									<td th:text="*{id}"></td>
								</tr>
								<tr>
									<th class="table-secondary">姓名</th>
									<td th:text="*{lastName} + ' ' + *{firstName}"></td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary btn-sm"
								data-dismiss="modal">キャンセル</button>
							<a role="button" class="btn btn-danger btn-sm"
								th:href="@{/user/delete/{id}(id=*{id})}">削除</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
</body>
</html>