<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
	<link href="/css/list.css" rel="stylesheet" />
	<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
	<script>
		jQuery(function($){
			$("#user-table").DataTable({
				// ソート機能の基本設定

				// 件数切替機能 無効
				lengthChange: false,
				// 検索機能 無効
				searching: false,
				// 情報表示 無効
				info: false,
				// ページング機能 無効
				paging: false,
				// 初期表示はIDの昇順
				order: [ [ 1, "asc" ] ],
				// 詳細ボタンの列はソート無効化
				columnDefs: [
					{
						targets: 0,
						orderable: false
					}
				],

				// 件数0件時の表示は不要なので消す
				drawCallback: function(settings) {
					$('.dataTables_empty').parent().hide();
				}
			});
		});
	</script>
	<title>ユーザ一覧</title>
</head>
<body>
    <div th:replace="layout :: header"></div>
	<div class="container">
		<!-- アラート表示部分 -->
		<div th:if="${information}">
			<div id="auto-del-alert" class="alert alert-success" role="alert">
				<div th:text="${information}"></div>
			</div>
		</div>

		<!-- エラーメッセージ表示部分 -->
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<div class="alert alert-danger alert-dismissible fade show"
				role="alert">
				<div th:text="${error}"></div>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<h2>ユーザ一覧</h2>
			</div>
			<div class="col-6 text-right align-self-center">
				<a role="button" class="btn btn-secondary btn-sm" th:href="@{/user/new}">ユーザ登録</a>
			</div>
		</div>
		<hr>
		<div class="row mb-3">
			<div class="col-4 offset-8">
				<!-- 検索フィールド部分 -->
				<form id="search" th:action="@{/user/list/1}" th:object="${searchItems}"
					th:method="post" class="container form-inline">
					<div class="form-row">
						<div class="form-group col-md-12 mb-2">
							<label for="inputIdStart" class="mr-1">ID</label>
							<input type="text"
								th:field="*{idStart}" class="form-control form-control-sm" id="inputIdStart"
								placeholder="ID" maxlength="9" oninput="value = value.replace(/[^0-9]+/i,'');">
							<span class="mx-1">～</span>
							<input type="text"
								th:field="*{idEnd}" class="form-control form-control-sm" id="inputIdEnd"
								placeholder="ID" maxlength="9" oninput="value = value.replace(/[^0-9]+/i,'');">
						</div>
						<div class="form-group col-md-6 mb-2">
							<label for="inputLastName" class="mr-1">姓</label>
							<input type="text"
								th:field="*{lastName}" class="form-control form-control-sm" id="inputLastName"
								placeholder="姓" maxlength="10">
						</div>
						<div class="form-group col-md-6 mb-2">
							<label for="inputFirstName" class="mr-1">名</label>
							<input type="text"
								th:field="*{firstName}" class="form-control form-control-sm" id="inputFirstName"
								placeholder="名" maxlength="10">
						</div>
						<div class="form-group col-md-8 mb-0 align-self-center">
							<label for="customRadioInline" class="mr-1">性別</label>
							<br>
							<div class="custom-control custom-radio custom-control-inline"
								id="customRadioInline">
								<input type="radio" id="customRadioInline1"
									name="customRadioInline1" class="custom-control-input"
									th:field="*{gender}" value="0"> <label
									class="custom-control-label" for="customRadioInline1">男性</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="customRadioInline2"
									name="customRadioInline1" class="custom-control-input"
									th:field="*{gender}" value="1"> <label
									class="custom-control-label" for="customRadioInline2">女性</label>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<input type="submit" value="検索" class="btn btn-success btn-sm">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- テーブル部分 -->
		<table id="user-table" class="table table-borderd table-striped">
			<!-- thead, tbodyを用意しないとdatatablesが動作しない -->
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>姓</th>
					<th>名</th>
					<th>性別</th>
					<th>誕生日</th>
					<th>更新者</th>
					<th>更新日時</th>
					<th>削除フラグ</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${list}">
					<td><a role="button" class="btn btn-primary btn-sm" th:href="@{/user/detail/{id}(id=${user.id})}">詳細</a></td>
					<td th:text="${user.id}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.gender}"></td>
					<td th:text="${user.birthday}"></td>
					<td th:text="${user.updateUser}"></td>
					<td th:text="${user.updateDate}"></td>
					<td th:text="${user.deleteFlg}"></td>
				</tr>
			</tbody>
		</table>
		<div class="container" th:if="${list.size() == 0}">
			<div class="row justify-content-center">
				<span class="no-data">検索結果は0件です</span>
			</div>
		</div>

		<!-- ページング部分 -->
		<ul th:if="${list.size() > 0}"
			class="pagination justify-content-center mt-3">
			<li class="page-item" th:classappend="(${page}==1)? 'disabled' : ''"><a
				class="page-link" href="#" tabindex="-1"
				th:onClick="'formSubmit(' + '\'/user/list/' + (${page}-1) + '\')'">前へ</a></li>
			<th:block th:each="i : ${#numbers.sequence(1, searchItems.paging)}">
				<li class="page-item"
					th:classappend="(${i}==${page})? 'active' : ''"><a
					name="offset" th:value="${i}" class="page-link" th:text="${i}"
					href="#"
					th:onClick="'formSubmit(' + '\'/user/list/' + ${i} + '\')'">1</a></li>
			</th:block>
			<li class="page-item"
				th:classappend="(${page}==${searchItems.paging})? 'disabled' : ''"><a
				class="page-link" href="#" tabindex="-1"
				th:onClick="'formSubmit(' + '\'/user/list/' + (${page}+1) + '\')'">次へ</a></li>
		</ul>
	</div>
	<div th:replace="layout :: footer"></div>
	<script>
		window.setTimeout(function() {
			$("#auto-del-alert").fadeTo(500, 0).slideUp(500, function() {
				$(this).remove();
			});
		}, 2000);

		// 引数で指定されたパスでサブミットする
		function formSubmit(path) {
			let form = document.getElementById('search');
			if (!form) {
				alert('フォームが取得できませんでした');
				return;
			}
			form.action = path;
			form.method = "post";
			form.submit();
		};
	</script>
</body>
</html>