<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ一覧</title>
</head>
<body>
    <h1>ユーザ一覧</h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>姓</th>
			<th>名</th>
			<th>性別</th>
			<th>誕生日</th>
			<th>更新者</th>
			<th>更新日</th>
			<th>削除フラグ</th>
			<th></th>
		</tr>
		<tr th:each="user : ${list}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.gender}"></td>
			<td th:text="${user.birthday}"></td>
			<td th:text="${user.updateUser}"></td>
			<td th:text="${user.updateDate}"></td>
			<td th:text="${user.deleteFlg}"></td>
			<td>詳細</td>
		</tr>
	</table>
</body>
</html>