<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{../webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<title>ユーザ一覧</title>
</head>
<body>
    <div th:replace="layout :: header"></div>
	<div class="container">
		<!-- アラート表示部分 -->
		<div th:if="${information}">
			<div id="auto-del-alert" class="alert alert-success" role="alert">
				<div th:text="${information}"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<h2>ユーザ一覧</h2>
			</div>
			<div class="col-6 text-right">
				<a role="button" class="btn btn-secondary btn-sm" th:href="@{/user/new}">ユーザ登録</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col">
				<!-- 検索フィールド部分 -->
				<form th:action="@{/user/list}" th:object="${searchItems}"
					th:method="post" class="container">
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="inputId">ID</label>
							<input type="text"
								th:field="*{id}" class="form-control form-control-sm" id="inputId"
								placeholder="ID">
						</div>
						<div class="form-group col-md-3">
							<label for="inputLastName">姓</label>
							<input type="text"
								th:field="*{lastName}" class="form-control form-control-sm" id="inputLastName"
								placeholder="姓">
						</div>
						<div class="form-group col-md-3">
							<label for="inputFirstName">名</label>
							<input type="text"
								th:field="*{firstName}" class="form-control form-control-sm" id="inputFirstName"
								placeholder="名">
						</div>
						<div class="form-group col-md-3 mb-0">
							<label for="customRadioInline">性別</label>
							<br>
							<div class="custom-control custom-radio custom-control-inline"
								id="customRadioInline">
								<input type="radio" id="customRadioInline1"
									name="customRadioInline1" class="custom-control-input"
									th:field="*{gender}" value="0"> <label
									class="custom-control-label" for="customRadioInline1">男性</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline mb-3">
								<input type="radio" id="customRadioInline2"
									name="customRadioInline1" class="custom-control-input"
									th:field="*{gender}" value="1"> <label
									class="custom-control-label" for="customRadioInline2">女性</label>
							</div>
						</div>
					</div>
					<input type="submit" value="検索" class="btn btn-success btn-sm">
				</form>
			</div>
		</div>
		<hr>
		<!-- テーブル部分 -->
		<table class="table table-borderd table-striped">
			<tr>
				<th></th>
				<th>ID</th>
				<th>姓</th>
				<th>名</th>
				<th>性別</th>
				<th>誕生日</th>
				<th>更新者</th>
				<th>更新日時</th>
				<th>削除フラグ</th>
			</tr>
			<tr th:each="user : ${list}">
				<td><a role="button" class="btn btn-primary btn-sm" th:href="@{/user/detail/{id}(id=${user.id})}">詳細</a></td>
				<td th:text="${user.id}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.gender}"></td>
				<td th:text="${user.birthday}"></td>
				<td th:text="${user.updateUser}"></td>
				<td th:text="${user.updateDate}"></td>
				<td th:text="${user.deleteFlg}"></td>
			</tr>
		</table>
	</div>
	<div th:replace="layout :: footer"></div>
	<script>
		window.setTimeout(function() {
			$("#auto-del-alert").fadeTo(500, 0).slideUp(500, function() {
				$(this).remove();
			});
		}, 2000);
	</script>
</body>
</html>